<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" media="screen">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/css-scripts.js"></script>
    <script src="/js/materialize.js"></script>

    <title>SongLab | Your Profile</title>
  </head>
  <body>
    <div class="pageWrapper">
      <div class="navIcon" onclick="openNav()">
        <div class="iconbar"></div>
        <div class="iconbar"></div>
        <div class="iconbar"></div>
      </div>
      <div id="mainNav" class="overlay">
        <a href="javascriptvoid:0" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Browse Projects</a></li>
            <li><a href="/about">About</a></li>
            {% if user_id is not null %}
                <li><a href="/user/{{ user_id }}">My Account</a></li>
                <li><a href="/log_out">Log Out</a></li>
            {% endif %}
        </ul>
      </div>
      <div class="profileHeader">
      <nav class="navSubpage">
        <div class="songLabWrapper">
          <div class="songLabLogo">
            <div class="logoText">
              <h1>songLab</h1>
            </div>
            <div class="musicBars">
              <div class="bar" id="bar1"></div>
              <div class="bar" id="bar2"></div>
              <div class="bar" id="bar3"></div>
            </div>
          </div>
        </div>
      </nav>
        <div class="profileInfo">
          <div class="personInfo">
        {% if user.getPhoto is empty %}
          <img class="profileImage" src="/img/headphones.jpg" alt="default-image" />
        {% else %}
          <img class="profileImage" src="{{ user.getPhoto }}" alt="Image not available">
        {% endif %}
            <h1 class="username">{{ user.getUsername }}</h1>
          </div>
          <p class="userBio">{{ user.getBio }}</p>
          <div class="profileButtons">
            <a class="secondaryWhite modal-trigger modal-close" href="#postMusicModal">Post Music</a>
            <div id="postMusicModal" class="modal">
              <div class="modal-content">
                <h2>Post Music</h2>
                <h4>Let other artists browse your jam, so together you can create magic.</h4>
                <form class="postMusicForm" action="/user/{{ user.getId }}/create_project" method="post">
                  <div class="input-field">
                    <input placeholder="Song Title" id="title" name="title" type="text" class="validate" pattern="[a-zA-Z0-9]{0,255}" title="Include only letters and/or numbers.">
                  </div>
                  <div class="input-field">
                    <textarea placeholder="Notes" id="title" name="description" type="text" class="validate materialize-textarea" pattern="[a-zA-Z0-9!@#$%^*_|?.']" title="Include only letters, numbers, and the following characters: !@#$%^*_|?.'"></textarea>
                  </div>
                  <div class="input-field">
                    <input placeholder="Genre" id="title" name="genre" type="text" class="validate" pattern="[a-zA-Z0-9]{0,255}" title="Include only letters and/or numbers.">
                  </div>
                  <div class="input-field">
                    <textarea placeholder="Soundcloud Embed Code" id="textarea1" type="text" name="resources" class="materialize-textarea validate"></textarea>
                  </div>
                  <div class="input-field">
                    <textarea placeholder="Lyrics" id="textarea1" type="text" name="lyrics" class="materialize-textarea validate" pattern="[a-zA-Z0-9!@#$%^*_|?.']" title="Include only letters, numbers, and the following characters: !@#$%^*_|?.'"></textarea>
                  </div>
                  <label for="question">What type of music are you posting?</label>
                  <p class="musicType">
                    <input type="checkbox" id="test1" />
                    <label for="test1">Lyrics</label>
                    <input type="checkbox" id="test2" />
                    <label for="test2">Composition</label>
                    <input type="checkbox" id="test3" />
                    <label for="test3">Instrumental</label>
                    <input type="checkbox" id="test4" />
                    <label for="test4">Other</label>
                  </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="button">Post Your Song</button>
                </div>
              </form>
            </div>
            <!-- WIP LINK! -->
            <a class="secondaryWhite" href="/user/{{user.getId}}/messages">View Collaboration Requests</a>
            <a class="secondaryWhite modal-trigger modal-close" href="#editProfileModal">Edit Profile</a>
            <div id="editProfileModal" class="modal">
              <div class="modal-content">
                <h2>Edit Your Profile</h2>
                <form class="postMusicForm" action="/user/{{ user.getId }}/edit_profile" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <div class="input-field">
                      <input placeholder="Edit Username" id="Username" name="new_username" type="text" class="validate" value="{{ user.getUsername }}" pattern="[a-zA-Z0-9]{6,25}" title="Required length: 6-25 characters. Include only letters and/or numbers.">
                    </div>
                    <div class="input-field">
                      <input placeholder="Update Password" id="password" name="new_password" type="password" class="validate" value="{{ user.getPassword }}" pattern="[a-zA-Z0-9]{6,25}" title="Required length: 6-25 characters. Include only letters and/or numbers.">
                    </div>
                    <div class="input-field">
                      <input placeholder="First Name" id="first_name" name="new_first_name" type="text" class="validate" value="{{ user.getFirstName }}" pattern="[a-zA-Z0-9']{0,50}" title="Required length: 0-50 characters. Include only letters and/or numbers.">
                    </div>
                    <div class="input-field">
                      <input placeholder="Last Name" id="last_name" name="new_last_name" type="text" class="validate" value="{{ user.getLastName }}" pattern="[a-zA-Z0-9']{0,50}" title="Required length: 0-50 characters. Include only letters and/or numbers.">
                    </div>
                    <div class="input-field">
                      <textarea placeholder="Bio" id="textarea1" name="new_bio" type="text" class="materialize-textarea validate" pattern="[a-zA-Z0-9!@#$%^*_|?.']" title="Include only letters, numbers and the following characters: !@#$%^*_|?.'">{{ user.getBio }}</textarea>
                    </div>
                    <div class="input-field">
                      <input placeholder="Please enter a url to a photo here" id="textarea" name="new_photo" type="text" class="validate" value="{{ user.getPhoto }}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="button">Update</button>
                    </div>
                </form>
                <a href="/user/{{ user.getId }}/delete"><button type="submit" name="button" class="delete">Delete Profile</button></a>
              </div>
            </div>
            <a class="secondaryWhite" href="/projects">Browse Open Collabs</a>
          </div>
        </div>
      </div>
      {% if projects is not empty %}
      <h2>Your Open Projects</h2>
      {% for project in projects %}
      <div class="projectsWrapper"> <!-- Each new uploaded project (class open-project) should append within this wrapper -->
        <div class="open-project">
          <div class="openProjectHeader">
            {% if user.getPhoto is empty %}
              <img class="profileImage" src="/img/headphones.jpg" alt="default-image" />
            {% else %}
              <img class="profileImage" src="{{ user.getPhoto }}" alt="Profile image of project owner">
            {% endif %}
            <div class="titleAndAuthor">
              <h3 class="projectTitle">{{ project.getTitle}}</h3>
              <h4 class="projectAuthor">By: {{ user.getUsername }}</h4>
            </div>
          </div>

          <div class="openProjectSummary">
            <p class="projectSummary">{{ project.getDescription}}</p>
          </div>

          <div class="openProjectButtons">
            <a class="modal-trigger modal-close" href="#modal{{project.getId}}">VIEW MUSIC</a>

            <a class="modal-trigger" href=".modal3">DELETE SONG</a>
            <div id="#deleteSongModal" class="modal modal3">
              <div class="modal-content">
                <h1>This will delete your song from your profile, and from the open projects page.</h1>
                <form action="browse-projects.html" method="post">
                  <label for="delete">Type DELETE to confirm.</label>
                  <div class="input-field">
                    <input id="delete" type="text" class="validate">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <form action="/project/{{project.getId}}/delete" method="post">
                   <input name="_method" type="hidden" value="delete">
                  <button type="submit">Delete</button>
                </form>
              </div>
            </div>
            <div id="modal{{project.getId}}" class="modal">
              <div class="modal-content">
                <h1>{{project.getResources | raw}}</h1>
                <p>{{ project.getLyrics }}</p>
              </div>
            </div>
      </div> <!-- Open Project end -->
    </div>

    </div><!-- projects wrapper end -->
    {% endfor %}
    {% else %}
    <div class="noProjects">
      <i class="fa fa-frown-o"></i>
      <h1>No projects yet!</h1>
      <button href="#postMusicModal" class="postMusicLink modal-trigger modal-close">Post a Song</button>
    </div>
    {% endif %}
    <div class="footer">
      <hr>
      <p>SongLab &copy; 2016 | All Rights Reserved</p>
    </div>
  </body>
</html>
