<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>profile</title>
  </head>
  <body>
    {{ user.getFirstName }}
    {{ user.getLastName }}
    {{ user.getBio }}
    {{ user.getFirstName }}
    {{ user.getFirstName }}
    {{ user.getFirstName }}
  {% for project in projects %}
  {{ project.getTitle }}
  {% endfor %}
  </body>
</html>
