<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>profile</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html>
      <head>
        <link rel="stylesheet" href="css/main.css" media="screen">
        <meta name="viewport" content="width=device-width">
        <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

        <title>SongLab | Your Profile</title>
      </head>
      <body>
        <div class="pageWrapper">
          <nav class="navSubpage">
            <div class="songLabWrapper">
              <div class="songLabLogo">
                <div class="logoText">
                  <h1>songLab</h1>
                </div>
                <div class="musicBars">
                  <div class="bar" id="bar1"></div>
                  <div class="bar" id="bar2"></div>
                  <div class="bar" id="bar3"></div>
                </div>
              </div>
            </div>
          </nav>
          <div class="profileHeader">
            <div class="profileInfo">
              <img class="profileImage"></img>
              <h1 class="username">{{ user.getUserName}}</h1>
              <h2 class="userMusicType">{{ user.getFirstName }}</h2>
              <h2 class="userMusicType">{{ user.getLastName }}</h2>
              <h2 class="userMusicType">Lyrics, Composer, Flutist</h2>
              <p class="userBio">{{ user.getBio }}</p>
            </div>
            <div class="profileButtons">
              <a href="#">Post Music</a>
              <a href="/projects">Browse Open Collabs</a>
              <a href="/user/{{user.getId}}/edit_profile">Edit Profile</a>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
      </body>
    </html>
    <h3>My open projects</h3>
  {% if projects is not empty %}
  {% for project in projects %}
  {{ project.getTitle }}
  {% endfor %}
  {% else %}
   <h3><a href="/user/{{ user.getId }}/create_project">Create a project</a></h3>
  {% endif %}
  </body>
</html>
