<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/search" method="post">
    <label for="search">Search projects</label>
    <input id="Username" type="text" name="search_term" class="validate">
    <button type="submit">Go</button>
    </form>
    {% for project in projects %}
    <ul>
    <li>{{ project.getTitle }}</li>
    <li>{{ project.getDescription }}</li>
    <li>{{ project.getGenre}}</li>
    <li>{{ project.getResources|raw }}</li>
    <li>{{ project.getLyrics }}</li>
    </ul>
    {% endfor %}
  </body>
</html>
