<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" media="screen">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/css-scripts.js"></script>
    <script src="js/materialize.js"></script>

    <title>songLab | Browse Open Projects</title>
  </head>
  <body>
    <div class="pageWrapper">
        <div class="navIcon" onclick="openNav()">
          <div class="iconbar"></div>
          <div class="iconbar"></div>
          <div class="iconbar"></div>
        </div>
        <div id="mainNav" class="overlay">
          <a href="javascriptvoid:0" class="closebtn" onclick="closeNav()">&times;</a>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Browse Projects</a></li>
            <li><a href="/about">About</a></li>
            {% if user_id is not null %}
                <li><a href="/user/{{ user_id }}">My Account</a></li>
                <li><a href="/log_out">Log Out</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="browseHeader">
        <nav class="navSubpage">
          <div class="songLabWrapper">
            <div class="songLabLogo">
              <div class="logoText">
                <h1>songLab</h1>
              </div>
              <div class="musicBars">
                <div class="bar" id="bar1"></div>
                <div class="bar" id="bar2"></div>
                <div class="bar" id="bar3"></div>
              </div>
            </div>
          </div>
        </nav>

          <span class="guitarVideo">
            <video class="headerVid" id="headerVid" muted="true" autoplay="autoplay" loop="loop">
              <source src="img/guitar-video.mp4" type="video/mp4">
            </video>
          </span>
            <div class="video-overlay"></div>
            <div class="headerVidText">
              <h1>Browse Open Projects</h1>
              <p>Search through songLab's archive of unfinished projects in need of artistic collaboration.</p>

              <div class="searchbar" id="browsePageSearch">

                <form action="/search" method="post">
                  <input type="text" name="search_term" value="">
                  <br>
                  <button type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>

        <div class="projectsWrapper">

          <h4><em>Want to upload a project of your own? <a class="create" href="/home">Create a profile</a> to start collaborating!</em></h4>
          {% for project in projects %}
          <div class="open-project"><!-- Each new uploaded project (class open-project) should append within this wrapper -->
            <div class="openProjectHeader">
              {% set owner = project.getProjectOwner %}
                <img class="profileImage" src="{{ owner.getPhoto }}" alt="Image not available">

              <div class="titleAndAuthor">
                <h3 class="projectTitle">{{ project.getTitle }}</h3>
                {% set owners = project.getProjectOwner %}
                <h4 class="projectAuthor">By: {{ owners.getUsername}}</h4>

                {% set collaborators = project.getCollaborators %}
                {% for collaborator in collaborators %}
                <h4 class="projectCollaborator">Collaborators: {{ collaborator.getUsername }}</h4>
                {% endfor %}
                <div class="openProjectSummary">
                  <p class="projectSummary">{{ project.getDescription}}</p>
                </div>
              </div>
            </div>


            <div class="openProjectButtons">
              <a class="modal-trigger modal-close" href="#modal{{project.getId}}">VIEW MUSIC</a>
              <div id="modal{{project.getId}}" class="modal">
                <div class="modal-content">
                  <h3 class="projectTitle">{{ project.getTitle }}</h3>
                  <h4 class="projectAuthor">By: {{ owner }}</h4>
                </div>
                <div class="modal-content">
                    <h1><a href="{{project.getResources}}" class="sc-player minimal"></a></h1>
                  <p>{{ project.getLyrics}}</p>
                </div>
              </div>
              <a class="modal-trigger" href="#modal{{project.getId}}2">REQUEST TO COLLABORATE</a>
              <div id="modal{{project.getId}}2" class="modal modal3">
                <div class="modal-content">
                  <h1>Interested in working on this song?</h1>
                  <p>Message the author with your ideas!</p>
                <!-- </div> -->
                  <form class="signInForm" action="project/{{project.getId}}/send_message" method="post">
                    <div class="input-field">
                      <input placeholder="From: {{current_user.getUsername}}" value="{{current_user.getUsername}}" id="userName" name="sender" type="text" class="validate">
                    </div>
                    <div class="input-field">
                      <textarea placeholder="Send a message!" id="message" name="message" type="text" class="materialize-textarea validate"></textarea>
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit">SEND REQUEST</button>
                    </div>
                  </form>
            </div>
          </div>
        </div> <!-- Open Project end -->
        {% endfor %}
      </div> <!-- projects wrapper end -->
      <div class="footer">
        <hr>
        <p>songLab &copy; 2016 | All Rights Reserved</p>
      </div>
    </div> <!-- Page wrapper end -->
  </body>
</html>
