<!DOCTYPE html>
            <html>
              <head>
                <link rel="stylesheet" href="/css/main.css" media="screen">
                <meta name="viewport" content="width=device-width">
                <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <script src="/js/css-scripts.js"></script>
                <script src="/js/materialize.js"></script>
                <title>SongLab | Inbox</title>
              </head>
              <body>
                <div class="pageWrapper">
                  <div class="navIcon" onclick="openNav()">
                    <div class="iconbar"></div>
                    <div class="iconbar"></div>
                    <div class="iconbar"></div>
                  </div>
                  <div id="mainNav" class="overlay">
                    <a href="javascriptvoid:0" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/projects">Browse Projects</a></li>
                        <li><a href="/about">About</a></li>
                        {% if user_id is not null %}
                            <li><a href="/user/{{ user_id }}">My Account</a></li>
                            <li><a href="/log_out">Log Out</a></li>
                        {% endif %}
                    </ul>
                  </div>
                  <nav class="navSubpage">
                    <div class="songLabWrapper">
                      <div class="songLabLogo">
                        <div class="logoText">
                          <h1>songLab</h1>
                        </div>
                        <div class="musicBars">
                          <div class="bar" id="bar1"></div>
                          <div class="bar" id="bar2"></div>
                          <div class="bar" id="bar3"></div>
                        </div>
                      </div>
                    </div>
                  </nav>
                  <div class="inboxHeader">
                    <h1>Your Collab Requests</h1>
                  </div>
                  <div class="youHave">
                    <h3>You have <span class="messageCount">{{count}}</span> message(s).</h3> <!-- I added this so there would be something on the page if there were no messages, but we don't have to keep it if it's too difficult to code a counter -->
                  </div>
                          {% for message in messages %}
                  <div class="collabRequestWrapper">
                    <div class="collabRequest">
                      <div class="requestHeader">
                        <i class="fa fa-envelope-o"></i>

                        <h3>Message from <span class='Username'>{{message.getSender()}}</span></h3>
                      </div>
                      <p class="message">{{ message.getMessage }}</p>
                      <form action="/message/{{message.getId}}/approve" method="post">
                      <button type="submit" name="button">APPROVE REQUEST</button>
                      </form>
                    </div>
                  </div>
                      {% endfor %}
                </div>
              </body>
            </html>
